.top_artists{
    display: flex;
    flex-direction: column;
   padding-left: 50px;
   padding-top: 70px;
   


    &__bar{
        margin-bottom: 50px;
        font-size: 15px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
}