$mainGreen:#1FBD58;

.track {
  display: flex;
  margin: 25px 50px 0px 25px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  &:hover {
    background-color: rgb(138, 138, 138);
    .icon {
      .fa-music {
        display: none;
      }
      .fa-play {
        display: inherit;
        
      }
    }
  }
  &:active {
    background-color: #282829;
    .track__info-name {
      color: $mainGreen;
    }
    .track__time {
      color:$mainGreen  ;
    }
    .icon {
      .fa-music {
        display: none;
      }
      .fa-play {
        display: none;
      }
      .fa-pause {
        display: inherit;
        color: $mainGreen;
      }
    }
  }
  .icon {
    display: flex;
    font-size: 15px;
    justify-content: start;
    align-items: center;

    .fa-music {
      display: inherit;
    }
    .fa-play {
      display: none;
    }
    .fa-pause {
      display: none;
    }
  }

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 15px;

    &-name {
      font-size: 20px;
      margin-bottom: 3px;
    }
    &-info {
      display: flex;
      flex-direction: row;
      
      align-items: flex-end;
      p {
        
        font-size: 15px;
        margin-left: 20px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      .artist{
        font-size: 17px;
        margin-left: 0;
        margin-right: 10px;
        
      }
    }
  }

  &__time {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
}
