///NavBar
.navbar {
  background-color: black;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.nav {
  margin-top: 20px;
  margin-right: 25px;

  &-login{
    margin-top: 30px;
    margin-left: -30px;
    list-style-type: none;
    button {
      font-size: 1.2 rem;
      font-weight: bold;
      width: 72px;
      padding: 5px;
      text-transform: uppercase;
      margin: 10px;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      visibility: visible;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
    .btn-login {
      background-color: $greenColor;
    }
  }
  .nav-tools {
    margin-top: 40px;
    margin-left: -25px;
    list-style-type: none;

    
    
    a {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: rgb(187, 181, 181);
      padding: 10px;
      margin-bottom: 25px;
      border-radius: 5px;
      min-height: 3rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;


      &:hover,
      &:focus,
      &.active {
        color: white;
        background-color: #181818;
        border-left: 5px solid #1ED760;
      }
    }
  }
}

.logo {
  padding: 1rem 1.5rem;
  font-size: 4rem;
}

.btn-logout {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 30px;
  padding: 12px 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  &:hover,
  &:focus {
    background-color: white;
    color: black;
  }
}

.user__info {
  &-avatar {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 40px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  &-name {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
}
